.basic-text-container{
    padding-left: 10em;
    padding-right: 10em;
}

@media only screen and (max-width: 768px){
    .basic-text-container {
        padding-left: 0em;
        padding-right: 0em;
    }
}

@media screen and (orientation: portrait) {
   .basic-text-container{
        padding-left: 0em;
        padding-right: 0em;
   }
}