.atividadeAvaliativa{
    margin-bottom: 5em;
}

.optionRadio:hover{
    cursor: pointer;
}

.radioLabel{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button .*/
.radioLabel input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button .*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #eee;
}

.radioLabel:hover{
    color:rgb(245, 0, 87);
    cursor: pointer;
}

/* On mouse-over, add a grey background color .*/
.radioLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background .*/
.radioLabel input:checked ~ .checkmark {
  background-color: white;
  border-color: rgb(245, 0, 87);
}

/* Create the indicator (the dot/circle - hidden when not checked) .*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

 /* Show the indicator (dot/circle) when checked .*/
.radioLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) .*/
.radioLabel .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: rgb(245, 0, 87);
}

.options-box{
    display: inline-block;
}

.option{
    margin-top: 1em;
}

.hint{
    border: 0.05em solid;
    border-color: #000000;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: whitesmoke;
}

.hint.wrong{
    background-color: rgb(255, 94, 36);
}

.hint.right{
    background-color: green;
}