.pagination{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 700;
    list-style: none;
    background-color: inherit;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-left: 0;
}

.disabled-page{
    visibility: hidden;
}

@media only screen and (max-width: 520px) {
  .pagination{
      font-size: 0.7em;
  }
}

.pagination li{
    display: inline-block;
}

.pagination li a {
    padding-top: 0.25em;
    width: 2.25em;
    height: 2em;
    margin: 0.2em 0.2em;
    display: inline-block;
    background-color:#DDC683;
    border: 0.15em solid #A08655;
    color: white;
    border-radius: 50%;
}

.pagination li a:hover{
    border-color: #999D9E;
    background: rgba(0, 0, 0, 0);
    color: #999D9E;
}

.pagination .selected-page a{
    border-color: #999D9E;
    background: rgba(0, 0, 0, 0);
    color: #999D9E;
}