.container-integral-activity{
    margin-bottom: 5em;
    text-align: left;
}

.activity-statement{
    margin-top: 3em;
    margin-bottom: 2em;
    font-weight: 700;
}

.hint{
    border: 0.05em solid;
    border-color: #000000;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: whitesmoke;
}

.hint.wrong{
    background-color: rgb(255, 94, 36);
}

.hint.right{
    background-color: green;
}