div.main-container{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(244, 243, 243, 0.5);
}

div.master-container{
    position: relative;
}

div.character-container{
    margin: auto;
    width: 820px;
    height: 820px;
    background: no-repeat;
    background-position-y: 40px;
    background-size: 100%;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

div.character-container.green-container{
    background-position-y: 0px;
}

div.character-container div.content{
    margin-left: 46%;
    text-align: justify;
    width: 23em;
    height: 12em;
}

div.character-container div.text{
    color: black;
    margin-top: 1em;
}

div.character-container div.title{
    text-align: center;
}

div.buttons-container{
    color: rgb(101, 196, 209);
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin-left: 340px;
    margin-top: 390px;
}  

div.character-container.green-container .buttons-container{
    margin-left: 330px;
}

div.buttons-container div.button{
    float: left;
    border: 0.01em solid #2d2d2d;
    background-color: rgb(255, 212, 120);
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

div.buttons-container div.button.first-button{
    margin-left: 11em;
}

div.buttons-container div.button.next-button, div.buttons-container div.button.previous-button, div.buttons-container div.button.last-previous{
    border-radius: 1em;
}

div.buttons-container div.button.previous-button{
    margin-right: 2em;
    margin-left: 11em;
}

div.buttons-container div.button.last-previous{
    margin-right: 2em;
    margin-left: 10em;
}

div.close-button-container{
    color: rgb(255, 212, 120);
    margin-left: 525px;
    margin-top: 5px;
    cursor: pointer;
}

div.character-container.green-container .close-button-container{
    margin-left: 515px;
}

div.close-button-underline{
    height: 0.1em;
    width: 4.7em;
    margin-left: 0.6em;
    background-color: rgb(255, 212, 120);
}

@media only screen and (min-width: 1600px) {
    div.character-container{
        width: 920px;
        height: 920px;
        background-position-y: 50px;
        width: 70em;
    }
    div.character-container div.content{
        margin-left: 48.5%;
        width: 30em;
        height: 19em;
    }
    div.buttons-container{
        margin-left: 410px;
        margin-top: 590px;
    }
    div.buttons-container div.button.first-button{
        margin-left: 25.5em;
    }
    div.buttons-container div.button.previous-button{
        margin-left: 25.9em;
        margin-right: 2em;
    }
    div.buttons-container div.button.last-previous{
        margin-left: 25em;
    }
    div.buttons-container div.button.next-button, div.buttons-container div.button.previous-button, div.buttons-container div.button.last-previous{
        border-radius: 1em;
    }
    div.close-button-container{
        margin-left: 835px;
        margin-top: 1.5em;
    }
    div.close-button-underline{
        width: 4.9em;
        height: 0.1em;
        margin-left: 0.5em;
    }
    div.character-container.green-container .close-button-container{
        margin-left: 815px;
    }
    div.character-container.green-container .buttons-container{
        margin-top: 600px;
        margin-left: 385px;
    }
}

@keyframes fadeInOut {
    100% {
        opacity:1;
    }
    80% {
        opacity:0.8;
    }
    60% {
        opacity:0.6;
    }
    40% {
        opacity:0.4;
    }
    20% {
        opacity:0.2;
    }
    0% {
        opacity:0;
    }
}