div.animation-fade-in-out{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    background-color: rgba(244, 243, 243, 0.5);
}

div.animation-container{
    position: absolute;
    width: 75%;
    height: 100%;
    margin-left: 10%;
    margin-top: 2%;
    background-repeat: no-repeat;
}

div.animation-container div.animation-text{
    margin-left: 45%;
    margin-right: 10%;
    margin-top: 12%;
    height: 17%;
    font-weight: 700;
    color: black;
    text-align: justify;
    font-size: 115%;
}

div.animation-buttons{
    color: white;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

div.animation-buttons div.animation-button{
    margin-top: 15%;
    border: 1% solid #2DDAF7;
    background-color: #2DDAF7;
    border-radius: 2em 2em 2em 2em;
    cursor: pointer;
    box-shadow: 0.1em 0.2em 0.5em rgb(160, 134, 77, 0.5);
}

div.animation-button.first-button{
    float: right;
    width: 15%;
    font-size: 1.5em;
    padding: 1% 0% 1% 0%;
    margin-right: 13%;
}

div.animation-buttons div.animation-button.previous{
    float: left;
    width: 5%;
    margin-left: 61%;
    padding: 1% 0% 1% 0%;
    font-size: 1.5em;
}

div.animation-buttons div.animation-button.next{
    float: right;
    width: 5%;
    margin-right: 27%;
    padding: 1% 0% 1% 0%;
    font-size: 1.5em;
}

div.animation-button.ok-button{
    float: left; 
    width: 8%;
    font-size: 1.5em;
    padding: 1% 0% 1% 0%;
    margin-left: 3%;
}   

div.animation-button.last-previous{
    float: left;
    width: 5%;
    margin-left: 50%;
    padding: 1% 0.5% 1% 0.5%;
    font-size: 1.5em;
}   

div.animation-button.read-more{
    float: left; 
    width: 15%;
    font-size: 1.5em;
    padding: 1% 0.5% 1% 0.5%;
    margin-left: 3%;
}   

@media only screen and (min-width: 1600px) {
    div.animation-container div.animation-text{
        margin-left: 48%;
    }
    div.animation-button.last-previous{
        margin-left: 52%;
    }  
    div.animation-buttons div.animation-button.previous{
        margin-left: 64%;
    }
    div.animation-buttons div.animation-button.next{
        margin-right: 24%;
    }
}

@keyframes fadeInOut {
    100% {
        opacity:1;
    }
    80% {
        opacity:0.8;
    }
    60% {
        opacity:0.6;
    }
    40% {
        opacity:0.4;
    }
    20% {
        opacity:0.2;
    }
    0% {
        opacity:0;
    }
}