.main-content{
    display: flex;
    justify-content: center;
}

.unit-container{
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #585858;
    font-weight: 100;
    margin-bottom: 2em;
}

@media only screen and (max-width: 768px){
    .unit-container {
        width: 75%;
    }
}

@media screen and (orientation: portrait) {
   .unit-container{
       padding-bottom: 10%;
   }
}