.algorithms h4{
    margin-top: 1em;
}

.algorithms input{
    width: 100%;
}

.algorithms textarea{
    width: 100%;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #585858;
}