div.text-standard-box-container{
    display: flex;
    justify-content: center;
}

div.text-standard-box{
    border: 1pt solid transparent;
    border-radius: 10px;
    width: 750px;
}

div.text-standard-box-text-container{
    padding: 50px;
    text-align: justify;
}