.footer-container{
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 12em;
    background-color: rgb(246,246,246);
}

.footer-content{
    list-style: none;
    font-size: 1em;
    color: gray;
    font-weight: 400;
}

@media screen and (orientation: portrait) {
   .footer-container{
       padding-left: 1em;
       padding-top: 0.5em;
       padding-bottom: 0.2em;
   }
}